.review-card {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  &__body {
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-larger);
    padding: 48px 52px 52px;
    position: relative;

    &::after {
      @include square(40px);

      content: '';
      border: inherit;
      top: 100%;
      left: 0;
      background-color: var(--color-dark);
      rotate: 45deg;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
  }
}