.studies {
  padding: 70px 60px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius-larger);

  @include desktop {
    padding: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    --studiesItemPaddingX: 64px;

    @include desktop {
      --studiesItemPaddingX: 32px;
    }

    &:not(:last-child) {
      padding-right: var(--studiesItemPaddingX);
      border-right: 1px solid var(--color-light);
    }

    &:not(:first-child) {
      padding-left: var(--studiesItemPaddingX);
    }

    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    color: var(--color-accent);
    font-size: 20px;
    line-height: 1.4;

    @include hover {
      opacity: 0.7;
    }
  }
}